<!DOCTYPE html>
<html>
<head>
  <title>TddTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">

  <h3>Todo App!</h3>

  <%= yield %>
</div>
</body>
</html>
